---
layout: default
---

{% include slider-co.html %}

<!-- Content -->
<div class="block">
 <div class="container">
  <div class="row">
  <!--MAIN Content-->
   <div class="col-md-9">
    <div id="page-main">
     <section id="members">
      <header><h1>Organizing Committee</h1></header>
      <section id="general-chair">
          <div class="row">
          <div class="col-md-6">
          <header>
              <h2  class="no-divider">
                  General chair
              </h2>
          </header>{%
                  include author-block-no-padding.html
                  link="http://ceng.usc.edu/~bkrishna/"
                  name="Bhaskar Krishnamachari"
                  org="University of Southern
                  California" %}
          </div>
          </div>
      </section><!-- /#general-chair -->
      <section id="program-chairs">
       <header><h2 class="no-divider">Program Co-Chairs</h2></header>
       <div class="row">
       <div class="col-md-6">
         {% include author-block-no-padding.html
         link="http://perspolis.usc.edu/Users/shahram/" name="Shahram
         Ghandeharizadeh" org="University of Southern California" %}
         {% include author-block-no-padding.html
         link="https://di.ku.dk/english/staff/?pure=en/persons/561613" name="Tijs Slaats" org="University of Copenhagen" %}
       </div>
       </div>
     </section><!-- /#program-chairs -->
     <section id="Industrial-chairs">
      <header><h2 class="no-divider">Industrial Co-chairs</h2></header>
      <div class="row">
      <div class="col-md-6">
        {% include author-block-no-padding.html
        link="https://www.bell-labs.com/usr/diego.lugones" name="Diego Lugones" org="Nokia-Bell Labs" %}
        {% include author-block-no-padding.html
        link="https://www.linkedin.com/in/raghunambiar" name="Raghu Nambiar" org="AMD" %}
      </div>
      </div>
    </section><!-- /#industrial-chairs -->
      <section id="proceedings-chairs">
       <header><h2 class="no-divider">Proceedings chair</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="" name="Sumita
           Barahmand" org="Microsoft" %}
       </div>
       </div>
      </section><!-- /#proceedings-chair-->
      <section id="proceedings-chairs">
       <header><h2 class="no-divider">Web chair</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="" name="Gowri Sankar Ramachandran" org="University of Southern California" %}
       </div>
       </div>
      </section><!-- /#proceedings-chair-->
     </section><!-- /#members -->
    </div><!-- /#page-main -->
   </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
 </div><!-- /.container -->
</div>
<!-- end Content -->
