---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
 <div class="container">
  <div class="row">
  <!--MAIN Content-->
   <div class="col-md-9">
    <div id="page-main">
     <section id="members">
      <header><h1>Program Committee</h1></header>
      <section id="program-chairs">
       <header><h2 class="no-divider">Program chair</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="https://users.soe.ucsc.edu/~owen/" name="Owen
           Arden" org="University of California, Santa Cruz" %}
       </div>
       </div>
      </section><!-- /#program-chairs -->
      <section id="program-chairs">
       <header><h2 class="no-divider">Program committee</h2></header>
       <div class="row">
       <div class="col-md-6">
         <div class="row">
 <div class="col-md-12 text-center">
 <ul class="text-left" style="display:inline-block;vertical-align:middle;">
  <li>Basem Shihada, King Abdullah University of Science and
Technology (KAUST)</li>
  <li>Carsten Binnig, TU Darmstadt</li>
  <li>Cormac Flanagan, UC Santa Cruz</li>
  <li>Cristina Nita-Rotaru, Northeastern University</li>
  <li>Dinh Tien Tuan Anh, National Univesrity of Singapore</li>
  <li>Dongfang Zhao, University of Nevada, Reno</li>
  <li>Ethan Cecchetti, Cornell University</li>
  <li>Fan Zhang, Cornell University</li>
  <li>Ittay Eyal, Technion</li>
  <li>Jianliang Xu, Hong Kong Baptist University (HKBU)</li>
  <li>Kartik Nayak, Duke University</li>
  <li>Shrutarshi Basu, Harvard University</li>
 </ul>
 </div>
 </div>
       </div>
       </div>
      </section><!-- /#program-committee-->
     </section><!-- /#members -->
    </div><!-- /#page-main -->
   </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
 </div><!-- /.container -->
</div>
<!-- end Content -->
