<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide">
                    <img
                    src="assets/img/ucsc-soe.jpg"
                    style="width: 60%"></div>
                    <img
                    src="assets/img/ucsc-soe.jpg"
                    style="width: 60%"></div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3 col-sm-12">
          <header>
            <h2>Third International Symposium on Foundations and
Applications of Blockchain 2020</h2>
            <h3 style="color:white"><a
                href="https://goo.gl/maps/HSsvzomQxwF2">
            </a></h3>
            <h3 style="color:white"><a
                href="https://www.ucsc.edu/">
                University of California, Santa Cruz
            </a></h3>
            <h3 style="color:white">May 1, 2020</h3>
          </header>
        </div><!-- /.col-md-3 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
