<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide"><img
                    src="assets/img/usc_tommy_trojan.jpg"
                    style="width: 60%"></div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3 col-sm-12">
          <header>
            <h2>Second International Symposium on Foundations and Applications of Blockchain 2019</h2>
            <h3 style="color:white"><a
                href="https://goo.gl/maps/HSsvzomQxwF2">
            </a></h3>
            <h3 style="color:white"><a
                href="https://minghsiehee.usc.edu/visiting/">
                EEB 132, Ming Hsieh Department of Electrical and Computer Engineering
            </a></h3>
            <h3 style="color:white"><a
                href="https://www.usc.edu/">
                University of Southern California,
            </a></h3>
            <h3 style="color:white">Los Angeles, California</h3>
            <h3 style="color:white">April 5, 2019</h3>
          </header>
        </div><!-- /.col-md-3 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
