<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;margin-top: 30px;">
     <a href="http://cci.usc.edu/" target="_blank" rel="nofollow"><img
         alt="http://cci.usc.edu/" border="0" height="100"
         src="assets/img/CCI.png" style="border:0px currentColor" width="200" height="200" /></a>
  </div>
</div>
<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;margin-top: 30px;">
     <a href="https://minghsiehee.usc.edu/mhi-home/" target="_blank" rel="nofollow"><img
         alt="https://minghsiehee.usc.edu/mhi-home/" border="0" height="100"
         src="assets/img/usc_MHI.png" style="border:0px currentColor"
         width="250" height="90" /></a>
  </div>
</div>
